body {
    background-color: rgb(42, 48, 52);
    margin-top: 5px;
    margin-right: 10px;
}

.tab-folder {
    display: flex;
    position: absolute; right: 5px;
    position: absolute; top: 5px;
    font-family: 'Times New Roman';
}

.tab a {
    text-decoration: none;
}

.tab {
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 7px 7px;
    margin-right: 4px;
    text-decoration: none;
    background-color: #38444a;
}